		body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #228B22;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }

        h1 {
			font-size:40px;
		}
		
		h2 {
			font-size:15px;
		}
		
		.logo {
            width: 120px; 
            height: auto;
        }

        nav {
            background-color: #333;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 10px;
        }

        nav a:hover {
            background-color: #555;
        }

        .search-bar {
            text-align: center;
            margin: 20px 0;
        }

        .social-icons {
            text-align: center;
            margin: 20px 0;
        }

        .social-icons a {
            display: inline-block;
            margin: 0 10px;
        }

		.feature-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .feature-box img {
            max-width: 200px;
            height: auto;
            margin-right: 20px;
        }

        .feature-box-content {
            flex-grow: 1;

